body{font-family: SourceHanSans;}

.two-banner-description{font-size: 50px; margin: 0 auto 40px auto; font-weight: bold; pointer-events: none; color: #333; text-align: center;position: relative; letter-spacing: 4px;-webkit-user-select:none;-moz-user-select:none; -ms-user-select:none;user-select:none;    }
.two-banner-title{color:white;font-size: 40px;position: absolute;left: 0;right: 0; bottom: 0;margin: auto;font-weight: 100;text-transform: uppercase;}
.two-submit-diy{text-align: center;}
.two-submit-diy > form > div > input{font-size: 16px;color: white;background: #333;padding: 10px 10px 10px 20px;border: 2px solid #444;}
.two-submit-diy > form > div > button{font-size: 16px;margin-left: -50px;color: white;}

.two-nav{  text-align: center;    position: absolute; left: 50%;
}
.two-nav a{color: white; text-align: center;font-size: 18px;}
.two-nav span{color: white;font-size: 18px;}

.two-diy{max-width:1200px;margin:0 auto;}
.two-posts-description{font-size: 50px; font-weight: bold; color: #333;position: relative; letter-spacing: 4px;-webkit-user-select:none;-moz-user-select:none; -ms-user-select:none;user-select:none;font-family: SourceHanSans;border-bottom:1px solid;    margin-bottom: 30px;margin-top: -30px;text-transform:uppercase;}
.two-posts-title{color:white;font-size: 24px;position: absolute;left: 0;right: 0; bottom: 0;margin: auto;font-weight: 100;font-family: SourceHanSans;text-transform: uppercase;}
.two-pages{font-size:14px;letter-spacing:0.5px;color:white;font-weight:400;bottom: 0; right: 0;position: absolute;opacity:0.8;}
.two-pages i{    font-size: 20px;}
.two-bw-posts{  padding-bottom: 20px; padding-left: 10px;padding-right: 10px; }

.two-bw-posts img{ width: 100%;object-fit: cover;border-radius: 10px;}
    
    
.two-over-text a{text-decoration:none; cursor:pointer;}

    .two-bwxyz-text {margin:0 0 5px;}
    
         .two-bwxyz-category { text-align:left;margin:0px;font-size: 12px;}
         
         .two-bwxyz-time{text-align:right;float:right;}
   
   .two-footer{text-align:center;letter-spacing:0.8px; font-size: 13px;}

.two-index-nav{height: 50px;box-sizing: border-box;z-index:100;position: relative;
    left: -50%;}
.two-nav-frame{width: 1200px;margin: 0 auto;}
.two-nav-frame-line{float: left;position: relative;display: block;outline: none;cursor: pointer;width: 100px;line-height: 46px;text-align: center;font-weight: 200;}
.two-nav-frame-line-center{opacity: 0;height: 0;position: absolute;overflow: hidden;width: 100%;transition: all 0.5s;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;/* Firefox 4 */-o-transition: all 0.5s; /* Opera */}
.two-nav-frame-line-li{width: 100%;font-weight: 100;text-align: center;background:#222;}
.two-nav-frame-line-li:hover{background: #333;color: white;background: #333;}
.two-nav-frame-line-li:hover a{background: #333;color: white;}
.two-nav-frame-line-focus:focus{display: none;}
.two-nav-frame-line:hover .two-nav-frame-line-center{height:auto;opacity: 1;}
.two-mobile-pages{font-size: 14px;margin-top: 10px;}
 .two-mobile-display-block{display:none;}
 .two-posts-archive-title a{color: white; font-size: 24px;text-decoration:none;}
 .page-navigator > li > a{font-size: 14px;}
 .bw-over > a > img{height:220px;}
 .two-nav-frame-line-li a{font-size:14px;}
@media screen and (max-width: 992px) {
  .two-mobile-display-none{display:none;}
  .two-mobile-display-block{display:block;}
  .bw-over > a > img{height:240px;}

}



